body {
	background: mintcream;
	color: #696969;
	font-family: 'Arimo', sans-serif;;
	font-size: 100%;
}

#book {
	font-size: 1em;
}


.col-8 {
    background: silver;
    display: inline-block;
    width: 30%;
}